<main>
    <h1>Error <%- err.code %></h1>
    <section>
        <h2><%- err.literal %></h2>
        <p><%- err.code%>: <%- err.message %></p>
        <%- include('randomMsg') %>
    </section>
</main>
